.home-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 80%;
  height: 80%;

  
  background-color: rgba(0,0,0,0.3);

  border-radius: var(--custom-border-radius);
  border: var(--custom-border) ;
  box-shadow: var(--custom-box-shadow);

  animation: dropFromTop 1.5s cubic-bezier(0.075, 0.82, 0.165, 1)
 
}

.home-container h1{
  font-size: 2em;
  font-weight: bold;
  color: var(--primary-color);
  text-align: center;
  margin: 0;
}


.home-container .logo{
  width: 10em;
  height: 10em;
  margin: 0;
  padding: 0;
  animation: pulse 10s ease-in-out infinite

}

.home-container form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 0;
}

.home-container form > *{
  margin-bottom: 1em;
}

.home-container form label{
  font-size: 1.5em;
  font-weight: bold;
  color: var(--primary-color);
  text-align: center;
  
  animation: shake 15s cubic-bezier(0.075, 0.82, 0.165, 1) infinite;
  animation-delay: 10s;
}




.home-container form input{
  font-family: inherit;
  width: 60%;
  padding: 0.1em;
  padding-left: 0.3em;
  text-align: center;
  border: 0;
  border-bottom: 3px solid var(--secondary-color);
  outline: 0;
  font-size: 1.3rem;
  font-weight: bold;
  color: var(--primary-color);
  background: var(--primary-dark-transparent);
  
}


.home-container form input:-webkit-autofill{
  -webkit-box-shadow:0 0 0 50px inset; /* Change the color to your own background color */
  -webkit-text-fill-color: var(--primary-color)
}

.home-container form button{
  background:var(--primary-button);
  --box-shadow-color: var(--primary-button-sb);
  color:white;
}
