
.popup-container{
  z-index: 10;
  position: fixed;
  top: 15%;
  left: 15%;
  width: 70%;
  height: 70%;
  background-color: var(--primary-light-transparent);
  border-radius: var(--custom-border-radius);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0.5em 1em 0 rgba(0,0,0,0.2);
}


.hidden{
  opacity: 0 !important;
  visibility: hidden !important;
}

.active{
  opacity: 1 !important;
  visibility: visible !important;
}