@keyframes fadeIn {
  0%{
    visibility: hidden;
    opacity: 0;
  }
  100%{
    visibility: visible;
    opacity: 1;
  }
}

@keyframes fadeInLeft {
0%{
  visibility: hidden;
  opacity: 0;
  transform: translateX(-200%);
}
100%{
  visibility: visible;
  opacity: 1;
  transform: translateX(0);
}
}

@keyframes fadeInRight {
0%{
  visibility: hidden;
  opacity: 0;
  transform: translateX(200%);
}
100%{
  visibility: visible;
  opacity: 1;
  transform: translateX(0);
}
}


@keyframes dropFromTop{
  0%{
      transform: translateY(-200%);
  }
  100%{
      transform: translateY(0);
  }
}

@keyframes slideInLeft{
  0%{
      transform: translateX(-200%);
  }
  100%{
      transform: translateX(0);
  }
}
@keyframes slideInRight{
  0%{
      transform: translateX(200%);
  }
  100%{
      transform: translateX(0);
  }
}
