@keyframes fadeIn {
  0%{
    visibility: hidden;
    opacity: 0;
  }
  100%{
    visibility: visible;
    opacity: 1;
  }
}

@keyframes fadeInLeft {
0%{
  visibility: hidden;
  opacity: 0;
  transform: translateX(-200%);
}
100%{
  visibility: visible;
  opacity: 1;
  transform: translateX(0);
}
}

@keyframes fadeInRight {
0%{
  visibility: hidden;
  opacity: 0;
  transform: translateX(200%);
}
100%{
  visibility: visible;
  opacity: 1;
  transform: translateX(0);
}
}


@keyframes dropFromTop{
  0%{
      transform: translateY(-200%);
  }
  100%{
      transform: translateY(0);
  }
}

@keyframes slideInLeft{
  0%{
      transform: translateX(-200%);
  }
  100%{
      transform: translateX(0);
  }
}
@keyframes slideInRight{
  0%{
      transform: translateX(200%);
  }
  100%{
      transform: translateX(0);
  }
}

@keyframes pulse {
	0% {
		transform: scale(0.95);
	}

	70% {
		transform: scale(1.1);
	}

	100% {
		transform: scale(0.95);
	}
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  10% {
    transform: rotate(360deg);
  }
  
  20% {
    transform: rotate(0deg);
  }
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }

  1% {
    transform: translateX(-10px);
  }

  2% {
    transform: translateX(10px);
  }

  3% {
    transform: translateX(-10px);
  }

  4% {
    transform: translateX(10px);
  }

  5% {
    transform: translateX(0);
  }
}

@keyframes fronte {
  from { z-index: 0; transform: scale(0.9); opacity: 0.5; }
  to { z-index: 4; transform: scale(1.1); opacity: 1; }
  }