.avatar-selector {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

}

.avatar-selector img{
  width: 10em;
  height: 10em;
  border-radius: 100%;
  box-shadow: 0 0 1em 0.3em var(--primary-dark-color);
  margin: 0;
  padding: 0;
}

.avatar-selector button{
  all:initial;
}


.avatar-selector .slide{
  z-index: 1;
  transition: all 0.3s ease-in-out;
}

.avatar-selector .prevSlide{
  z-index: 1;
  margin-right: -5em;
  opacity: 0.5;
  transform: scale(0.9);
  transition: 0.5s;
}
.avatar-selector .currentSlide{
  z-index: 2;
  transition: 0.5s;
}
.avatar-selector .currentSlide img{
  box-shadow: 0 0 0.5em 0.1em var(--secondary-color);
  transition: all 0.5s;
}


.avatar-selector .nextSlide{
  z-index: 1;
  margin-left: -5em;  
  opacity: 0.5;
  transform: scale(0.9);
  transition: 0.5s;
}

.avatar-selector button:hover{
  z-index: 3;
  opacity: 1;
  animation: fronte 0.3s linear forwards; 
}




